.information {
    color:#ffffff;
}

.title {
    position: static;
    left: 8px;
    background: #2a3036;
    color: rgb(221, 216, 216);
}

.space{
    flex: 1 1 auto;
}

.border{
    height:100%;
    background:#c0c0c0;
}

.table{
    margin:auto;
    background: #ffffff;
}